/*
* Alert Component Styling
*/
.c-alert-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    align-items: flex-end;
    position: fixed;
    right: 0;
    bottom: 0;
    transition: all .7s;
}

.c-alert {
    position: relative;
    background-color: rgba(0, 0, 0, 0.658);
    width: fit-content;
    padding: 15px 40px;
    border-radius: 8px;
    display: flex;
    transition: all 1.5s cubic-bezier(.74,.06,.32,1.44);
    transform: translateX(360px);
    margin-bottom: 6px;
    letter-spacing: 1.2px;
}

.c-alert.active {
    margin-right: 10px;
    transform: translateX(0px);
}

/*
* Sidebar Component
*/
.c-sidebar {
    background-color: #0c0a0b;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0px 15px;
}

.s-userDetails {
    padding: 1rem 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 1rem;
    font-size: 0.9em;
}

.s-Item {
    margin-bottom: 0.5rem;
}

.s-userImg {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

.admin {
    color: #E5383B;
}

.s-linkList {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.s-link {
    padding: 8.5px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    margin-top: 0.3rem;
    transition: 0.3s;
    width: 100%;
    align-items: center;
    font-size: 1.1em;
}

.s-link i {
    margin-right: 10px;
}

#home {
    color: #E5383B;
}

.s-link:hover {
    background-color: rgba(102, 102, 102, 0.178);
}