@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* @color palette
*   Full Black:         #0c0a0b;
*   Cultured Black:     #0c0c0c;
*   Deep Black:         #0d0d0d;
*   Deep Ocean Black:   #0e1113;
*   Blood Red:          #660708;
*   Ruby Red:           #A4161A;
*   Carnelian Red:      #BA181B;
*   Imeprial Red:       #E5383B;
*   Silver Chalice      #B1A7A6;
*   Light Gray:         #D3D3D3;
*   Cultured White:     #F5F3F4;
*   Full White:         #FFFFFF;
*/


* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

:root {
    color: rgb(214, 214, 214);
}

a {
    text-decoration: none;
    color: rgb(214, 214, 214);
}

body {
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(31, 31, 31);
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.content-con {
    padding: 10px;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr;
    width: 100%;
    grid-gap: 15px;
}

.toolItem {
    position: relative;
}

.tooltip {
    background-color: #080808;
    text-align: center;
    padding: 5px 20px;
    border-radius: 5px;
    margin-top: 1rem;
    position: absolute;
    bottom: 0;
    z-index: 1;
    font-weight: 500;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.toolItem:hover .tooltip {
    bottom: -35px;
    opacity: 1;
    pointer-events: auto;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}

.toolItem .tooltip::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background-color: #080808;
    left: 50%;
    top: -6px;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}