@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* @color palette
*   Full Black:         #0c0a0b;
*   Cultured Black:     #0c0c0c;
*   Deep Black:         #0d0d0d;
*   Deep Ocean Black:   #0e1113;
*   Blood Red:          #660708;
*   Ruby Red:           #A4161A;
*   Carnelian Red:      #BA181B;
*   Imeprial Red:       #E5383B;
*   Silver Chalice      #B1A7A6;
*   Light Gray:         #D3D3D3;
*   Cultured White:     #F5F3F4;
*   Full White:         #FFFFFF;
*/


* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

:root {
    color: rgb(214, 214, 214);
}

a {
    text-decoration: none;
    color: rgb(214, 214, 214);
}

body {
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0d0d0d;
}

main {
    display: flex;
    height: 100vh;
    width: 100%;
}