/* Desktop Queries */
@media screen and (min-width: 1024px) {
    .c-sidebar {
        height: 100vh;
        width: 15rem;
        display: flex;
        flex-direction: column;
    }
    .s-userDetails {
        border-bottom: #B1A7A6 solid 2px;
    }

    main {
        flex-direction: row;
    }

    .content-con {
        padding: 10px;
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 0.5fr 1fr;
        width: 100%;
        grid-gap: 15px;
    }
}

/* Mobile Queries */
@media screen and (max-width: 767px) {

}

/* Tablet Queries */
@media screen and (min-width: 768px) and (max-width: 1023px) {

}