/* Desktop Queries */
@media screen and (min-width: 1024px) {
    .c-sidebar {
        height: 100%;
        width: 15rem;
        display: flex;
        flex-direction: column;
    }
    .s-userDetails {
        border-bottom: #B1A7A6 solid 2px;
    }

    main {
        flex-direction: row;
        height: 100%;
        overflow: hidden;
    }

    .content-con {
        display: flex;
        padding: 15px;
        display: grid;
        height: 100%;
        grid-template-areas: 
        "wid1 wid1 wid2 wid2"
        "wid1 wid1 wid2 wid2"
        "wid3 wid3 wid4 wid4"
        "wid3 wid3 wid4 wid4"
        ;   
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        width: 100%;
        grid-gap: 15px;
    }
}

#widget1{
    grid-area: wid1;
}

#wid2{
    grid-area: wid2;
}

#wid3{
    grid-area: wid3;
}

#wid4{
    grid-area: wid4;
}

/* Mobile Queries */
@media screen and (max-width: 767px) {

}

/* Tablet Queries */
@media screen and (min-width: 768px) and (max-width: 1023px) {

}